<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net461" />
  <package id="HttpToSocks5Proxy" version="1.4.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net45" />
  <package id="Telegram.Bot" version="15.1.0" targetFramework="net45" />
</packages>